frontend:
  host: "127.0.0.1"
  port: 5173
  allowed_hosts:
    - "127.0.0.1"
    - "localhost"

backend:
  host: "127.0.0.1"
  port: 5000
  local_base_url: "http://127.0.0.1:5000/"
  production_base_url: "https://api.wuhumodeltest.com/"

