@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    overflow-y: auto; /* 允许垂直滚动 */
    overflow-x: hidden; /* 隐藏水平滚动 */
  }
  #root, #__next {
    min-height: 100%;
    width: 100%;
  }
body {
  background-color: #000000; /* 或者你想要的任何颜色 */
  min-height: 100vh;
}
